<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detect</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="/static/css/detect.css">
  <link rel="stylesheet" href="/static/css/styles.css">
  <style>
    body {
      background: url('/static/images/medAi_2.jpeg') no-repeat center center fixed;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    .container {
      background: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 10px;
    }
  </style>
</head>

<body>
  <div class="center">
    <div class="container">
      <figure class="image-container">
        <img id="chosen-image" src="">
      </figure>
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="upload" accept="image/*">
        <label for="upload">Choose a Photo</label>
      </form>
    </div>

    <div id="loading-spinner" class="spinner">
      <i class="fas fa-spinner fa-spin"></i>
      <p>Detecting ...</p>
    </div>

    <div id="result-container"></div>
    <div id="error-container"></div>
  </div>
  <button id="results" onclick="detectFunction()" class="resultButton">See Result
    <span class="material-symbols-outlined">chevron_right</span>
  </button>

  <div>
    <p>{{ json_response }}</p>
  </div>

  <script src="/static/js/detect.js"></script>
</body>

</html>
